*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.get-in-touch{
    bottom: 10px;
    display: flex;
    position: fixed;
    right: 10px;
  
  }
  
  .get-in-touch svg{
    width: 30px;
    color: #fff;
  }
